@{
    ViewBag.Title = "William D Burke";
 }

<div class="row">
    <div class="large-12 columns">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
            <h2>@ViewBag.Message</h2>
        </hgroup>
    </div>
</div>
<div class="row">
    <div class="large-3 columns">
        <div class="img-filler"></div>
    </div>
    <div class="large-9 columns">
        <article>
            <p>
                I am proud to say that I was adopted by the Burke family in 1986 and have lived all my life in the glorious state of Texas. My current interests include electronic music, photography, cars and vehicle modification, web design, consulting and technology, animals and generally living life to the fullest.
            </p>
            <h3>Work and Professional</h3>
            <p>
                Upon graduation I was lucky enough to be Selected by Sogeti USA as a consultant in their application development in new technology practice. For the 2014 calendar year I re-enrolled in the Microsoft Practice in order to leverage the training available to grow my skills as a developer and consultant alike. In my down time I continue to keep up with web technology and social media in order to stay on top of what is out there.
            </p>
            <h3>Academics and Outlook</h3>
            <p>
                I am a recent graduate of the Univeristy of Houston C.T. Bauer College of Business with a degree in Management Information Systems. I am an alumni of the Management Information Systems Student Organization, Accounting Society, and the Hispanic Business Student Association. I was an active member in all 3 over the course of 3 semesters even securing a position as an officer in the Accounting Society for the Spring 2013 semester. Over the course of my undergrad I have seen many of my projects for project management fail and through those failures I have managed to come to an understanding of what caused mine and my team's issues. Although my Project Management endeavors blew up in my face, that did not deter me from enrolling in the IT Consulting course in fall 2012 and performing well above my own expections. I would one day like to return to the university to pursue a Masters or MBA however for the time being I am content with purusing the Microsoft certifcations along with other similar professional certifications.
            </p>
        </article>
   </div>
</div>
