@charset "UTF-8";
/* line 1, ../sass/Site.scss */
html {
  background-color: #e2e2e2;
  margin: 0;
  padding: 0;
}

/* line 7, ../sass/Site.scss */
body {
  background-color: #fff;
  border-top: solid 10px #000;
  color: #333;
  font-size: .85em;
  font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
  margin: 0;
  padding: 0;
}

/* line 17, ../sass/Site.scss */
a {
  color: #333;
  outline: none;
  padding-left: 3px;
  padding-right: 3px;
  text-decoration: underline;
}

/* line 25, ../sass/Site.scss */
a:link, a:visited,
a:active, a:hover {
  color: #333;
}

/* line 30, ../sass/Site.scss */
a:hover {
  background-color: #c7d1d6;
}

/* line 34, ../sass/Site.scss */
header, footer, hgroup,
nav, section {
  display: block;
}

/* line 39, ../sass/Site.scss */
mark {
  background-color: #a6dbed;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 45, ../sass/Site.scss */
.float-left {
  float: left;
}

/* line 49, ../sass/Site.scss */
.float-right {
  float: right;
}

/* line 53, ../sass/Site.scss */
.clear-fix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* line 61, ../sass/Site.scss */
h1, h2, h3,
h4, h5, h6 {
  color: #000;
  margin-bottom: 0;
  padding-bottom: 0;
}

/* line 68, ../sass/Site.scss */
h1 {
  font-size: 2em;
}

/* line 72, ../sass/Site.scss */
h2 {
  font-size: 1.75em;
}

/* line 76, ../sass/Site.scss */
h3 {
  font-size: 1.2em;
}

/* line 80, ../sass/Site.scss */
h4 {
  font-size: 1.1em;
}

/* line 84, ../sass/Site.scss */
h5, h6 {
  font-size: 1em;
}

/* line 88, ../sass/Site.scss */
h5 a:link, h5 a:visited, h5 a:active {
  padding: 0;
  text-decoration: none;
}

/* main layout
----------------------------------------------------------*/
/* line 96, ../sass/Site.scss */
.content-wrapper {
  margin: 0 auto;
  max-width: 960px;
}

/* line 101, ../sass/Site.scss */
#body {
  background-color: #efeeef;
  clear: both;
  padding-bottom: 35px;
}

/* line 107, ../sass/Site.scss */
.main-content {
  background: url("../Images/accent.png") no-repeat;
  padding-left: 10px;
  padding-top: 30px;
}

/* line 113, ../sass/Site.scss */
.featured + .main-content {
  background: url("../Images/heroAccent.png") no-repeat;
}

/* line 117, ../sass/Site.scss */
header .content-wrapper {
  padding-top: 20px;
}

/* line 121, ../sass/Site.scss */
footer {
  clear: both;
  background-color: #008b8b;
  font-size: .8em;
  height: 100px;
}

/* site title
----------------------------------------------------------*/
/* line 131, ../sass/Site.scss */
.site-title {
  color: #c8c8c8;
  font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
  font-size: 2.3em;
  margin: 0;
}

/* line 138, ../sass/Site.scss */
.site-title a, .site-title a:hover, .site-title a:active {
  background: none;
  color: #c8c8c8;
  outline: none;
  text-decoration: none;
}

/* login
----------------------------------------------------------*/
/* line 148, ../sass/Site.scss */
#login {
  display: block;
  font-size: .85em;
  margin: 0 0 10px;
  text-align: right;
}

/* line 155, ../sass/Site.scss */
#login a {
  background-color: #d3dce0;
  margin-left: 10px;
  margin-right: 3px;
  padding: 2px 3px;
  text-decoration: none;
}

/* line 163, ../sass/Site.scss */
#login a.username {
  background: none;
  margin: 0;
  padding: 0;
  text-decoration: underline;
}

/* line 170, ../sass/Site.scss */
#login ul {
  margin: 0;
}

/* line 174, ../sass/Site.scss */
#login li {
  display: inline;
  list-style: none;
}

/* menu
----------------------------------------------------------*/
/* line 182, ../sass/Site.scss */
ul#menu {
  font-size: 1.3em;
  font-weight: 600;
  margin: 0 0 5px;
  padding: 0;
  text-align: right;
}

/* line 190, ../sass/Site.scss */
ul#menu li {
  display: inline;
  list-style: none;
  padding-left: 15px;
}

/* line 196, ../sass/Site.scss */
ul#menu li a {
  background: none;
  color: #999;
  text-decoration: none;
}

/* line 202, ../sass/Site.scss */
ul#menu li a:hover {
  color: #333;
  text-decoration: none;
}

/* page elements
----------------------------------------------------------*/
/* featured */
/* line 211, ../sass/Site.scss */
.featured {
  background-color: #fff;
}

/* line 215, ../sass/Site.scss */
.featured .content-wrapper {
  background-color: #7ac0da;
  background-image: -ms-linear-gradient(left, #7ac0da 0, #a4d4e6 100%);
  background-image: -o-linear-gradient(left, #7ac0da 0, #a4d4e6 100%);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7ac0da), color-stop(1, #a4d4e6));
  background-image: -webkit-linear-gradient(left, #7ac0da 0, #a4d4e6 100%);
  background-image: linear-gradient(to left, #7ac0da 0, #a4d4e6 100%);
  color: #3e5667;
  padding: 20px 40px 30px 40px;
}

/* line 226, ../sass/Site.scss */
.featured hgroup.title h1, .featured hgroup.title h2 {
  color: #fff;
}

/* line 230, ../sass/Site.scss */
.featured p {
  font-size: 1.1em;
}

/* page titles */
/* line 235, ../sass/Site.scss */
hgroup.title {
  margin-bottom: 10px;
}

/* line 239, ../sass/Site.scss */
hgroup.title h1, hgroup.title h2 {
  display: inline;
}

/* line 243, ../sass/Site.scss */
hgroup.title h2 {
  font-weight: normal;
  margin-left: 3px;
}

/* features */
/* line 249, ../sass/Site.scss */
section.feature {
  width: 300px;
  float: left;
  padding: 10px;
}

/* ordered list */
/* line 256, ../sass/Site.scss */
ol.round {
  list-style-type: none;
  padding-left: 0;
}

/* line 261, ../sass/Site.scss */
ol.round li {
  margin: 25px 0;
  padding-left: 45px;
}

/* line 266, ../sass/Site.scss */
ol.round li.zero {
  background: url("../Images/orderedList0.png") no-repeat;
}

/* line 270, ../sass/Site.scss */
ol.round li.one {
  background: url("../Images/orderedList1.png") no-repeat;
}

/* line 274, ../sass/Site.scss */
ol.round li.two {
  background: url("../Images/orderedList2.png") no-repeat;
}

/* line 278, ../sass/Site.scss */
ol.round li.three {
  background: url("../Images/orderedList3.png") no-repeat;
}

/* line 282, ../sass/Site.scss */
ol.round li.four {
  background: url("../Images/orderedList4.png") no-repeat;
}

/* line 286, ../sass/Site.scss */
ol.round li.five {
  background: url("../Images/orderedList5.png") no-repeat;
}

/* line 290, ../sass/Site.scss */
ol.round li.six {
  background: url("../Images/orderedList6.png") no-repeat;
}

/* line 294, ../sass/Site.scss */
ol.round li.seven {
  background: url("../Images/orderedList7.png") no-repeat;
}

/* line 298, ../sass/Site.scss */
ol.round li.eight {
  background: url("../Images/orderedList8.png") no-repeat;
}

/* line 302, ../sass/Site.scss */
ol.round li.nine {
  background: url("../Images/orderedList9.png") no-repeat;
}

/* content */
/* line 307, ../sass/Site.scss */
article {
  float: left;
  width: 70%;
}

/* line 312, ../sass/Site.scss */
aside {
  float: right;
  width: 25%;
}

/* line 317, ../sass/Site.scss */
aside ul {
  list-style: none;
  padding: 0;
}

/* line 322, ../sass/Site.scss */
aside ul li {
  background: url("../Images/bullet.png") no-repeat 0 50%;
  padding: 2px 0 2px 20px;
}

/* line 327, ../sass/Site.scss */
.label {
  font-weight: 700;
}

/* login page */
/* line 332, ../sass/Site.scss */
#loginForm {
  border-right: solid 2px #c8c8c8;
  float: left;
  width: 55%;
}

/* line 338, ../sass/Site.scss */
#loginForm .validation-error {
  display: block;
  margin-left: 15px;
}

/* line 343, ../sass/Site.scss */
#loginForm .validation-summary-errors ul {
  margin: 0;
  padding: 0;
}

/* line 348, ../sass/Site.scss */
#loginForm .validation-summary-errors li {
  display: inline;
  list-style: none;
  margin: 0;
}

/* line 354, ../sass/Site.scss */
#loginForm input {
  width: 250px;
}

/* line 358, ../sass/Site.scss */
#loginForm input[type="checkbox"],
#loginForm input[type="submit"],
#loginForm input[type="button"],
#loginForm button {
  width: auto;
}

/* line 365, ../sass/Site.scss */
#socialLoginForm {
  margin-left: 40px;
  float: left;
  width: 40%;
}

/* line 371, ../sass/Site.scss */
#socialLoginForm h2 {
  margin-bottom: 5px;
}

/* line 375, ../sass/Site.scss */
#socialLoginList button {
  margin-bottom: 12px;
}

/* line 379, ../sass/Site.scss */
#logoutForm {
  display: inline;
}

/* contact */
/* line 384, ../sass/Site.scss */
.contact h3 {
  font-size: 1.2em;
}

/* line 388, ../sass/Site.scss */
.contact p {
  margin: 5px 0 0 10px;
}

/* line 392, ../sass/Site.scss */
.contact iframe {
  border: 1px solid #333;
  margin: 5px 0 0 10px;
}

/* forms */
/* line 398, ../sass/Site.scss */
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

/* line 404, ../sass/Site.scss */
fieldset legend {
  display: none;
}

/* line 408, ../sass/Site.scss */
fieldset ol {
  padding: 0;
  list-style: none;
}

/* line 413, ../sass/Site.scss */
fieldset ol li {
  padding-bottom: 5px;
}

/* line 417, ../sass/Site.scss */
label {
  display: block;
  font-size: 1.2em;
  font-weight: 600;
}

/* line 423, ../sass/Site.scss */
label.checkbox {
  display: inline;
}

/* line 427, ../sass/Site.scss */
input, textarea {
  border: 1px solid #e2e2e2;
  background: #fff;
  color: #333;
  font-size: 1.2em;
  margin: 5px 0 6px 0;
  padding: 5px;
  width: 300px;
}

/* line 437, ../sass/Site.scss */
textarea {
  font-family: inherit;
  width: 500px;
}

/* line 442, ../sass/Site.scss */
input:focus, textarea:focus {
  border: 1px solid #7ac0da;
}

/* line 446, ../sass/Site.scss */
input[type="checkbox"] {
  background: transparent;
  border: inherit;
  width: auto;
}

/* line 452, ../sass/Site.scss */
input[type="submit"],
input[type="button"],
button {
  background-color: #d3dce0;
  border: 1px solid #787878;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 600;
  padding: 7px;
  margin-right: 8px;
  width: auto;
}

/* line 465, ../sass/Site.scss */
td input[type="submit"],
td input[type="button"],
td button {
  font-size: 1em;
  padding: 4px;
  margin-right: 4px;
}

/* info and errors */
/* line 474, ../sass/Site.scss */
.message-info {
  border: 1px solid;
  clear: both;
  padding: 10px 20px;
}

/* line 480, ../sass/Site.scss */
.message-error {
  clear: both;
  color: #e80c4d;
  font-size: 1.1em;
  font-weight: bold;
  margin: 20px 0 10px 0;
}

/* line 488, ../sass/Site.scss */
.message-success {
  color: #7ac0da;
  font-size: 1.3em;
  font-weight: bold;
  margin: 20px 0 10px 0;
}

/* line 495, ../sass/Site.scss */
.error {
  color: #e80c4d;
}

/* styles for validation helpers */
/* line 500, ../sass/Site.scss */
.field-validation-error {
  color: #e80c4d;
  font-weight: bold;
}

/* line 505, ../sass/Site.scss */
.field-validation-valid {
  display: none;
}

/* line 509, ../sass/Site.scss */
input.input-validation-error {
  border: 1px solid #e80c4d;
}

/* line 513, ../sass/Site.scss */
input[type="checkbox"].input-validation-error {
  border: 0 none;
}

/* line 517, ../sass/Site.scss */
.validation-summary-errors {
  color: #e80c4d;
  font-weight: bold;
  font-size: 1.1em;
}

/* line 523, ../sass/Site.scss */
.validation-summary-valid {
  display: none;
}

/* tables
----------------------------------------------------------*/
/* line 530, ../sass/Site.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 0.75em;
  border: 0 none;
}

/* line 537, ../sass/Site.scss */
th {
  font-size: 1.2em;
  text-align: left;
  border: none 0;
  padding-left: 0;
}

/* line 544, ../sass/Site.scss */
th a {
  display: block;
  position: relative;
}

/* line 549, ../sass/Site.scss */
th a:link, th a:visited, th a:active, th a:hover {
  color: #333;
  font-weight: 600;
  text-decoration: none;
  padding: 0;
}

/* line 556, ../sass/Site.scss */
th a:hover {
  color: #000;
}

/* line 560, ../sass/Site.scss */
th.asc a, th.desc a {
  margin-right: .75em;
}

/* line 564, ../sass/Site.scss */
th.asc a:after, th.desc a:after {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 0.75em;
}

/* line 572, ../sass/Site.scss */
th.asc a:after {
  content: '▲';
}

/* line 576, ../sass/Site.scss */
th.desc a:after {
  content: '▼';
}

/* line 580, ../sass/Site.scss */
td {
  padding: 0.25em 2em 0.25em 0;
  border: 0 none;
}

/* line 585, ../sass/Site.scss */
tr.pager td {
  padding: 0 0.25em 0 0;
}

/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px) {
  /* header
  ----------------------------------------------------------*/
  /* line 597, ../sass/Site.scss */
  header .float-left,
  header .float-right {
    float: none;
  }

  /* logo */
  /* line 603, ../sass/Site.scss */
  header .site-title {
    margin: 10px;
    text-align: center;
  }

  /* login */
  /* line 609, ../sass/Site.scss */
  #login {
    font-size: .85em;
    margin: 0 0 12px;
    text-align: center;
  }

  /* line 615, ../sass/Site.scss */
  #login ul {
    margin: 5px 0;
    padding: 0;
  }

  /* line 620, ../sass/Site.scss */
  #login li {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  /* line 627, ../sass/Site.scss */
  #login a {
    background: none;
    color: #999;
    font-weight: 600;
    margin: 2px;
    padding: 0;
  }

  /* line 635, ../sass/Site.scss */
  #login a:hover {
    color: #333;
  }

  /* menu */
  /* line 640, ../sass/Site.scss */
  nav {
    margin-bottom: 5px;
  }

  /* line 644, ../sass/Site.scss */
  ul#menu {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  /* line 650, ../sass/Site.scss */
  ul#menu li {
    margin: 0;
    padding: 0;
  }

  /* main layout
  ----------------------------------------------------------*/
  /* line 658, ../sass/Site.scss */
  .main-content,
  .featured + .main-content {
    background-position: 10px 0;
  }

  /* line 663, ../sass/Site.scss */
  .content-wrapper {
    padding-right: 10px;
    padding-left: 10px;
  }

  /* line 668, ../sass/Site.scss */
  .featured .content-wrapper {
    padding: 10px;
  }

  /* page content */
  /* line 673, ../sass/Site.scss */
  article, aside {
    float: none;
    width: 100%;
  }

  /* ordered list */
  /* line 679, ../sass/Site.scss */
  ol.round {
    list-style-type: none;
    padding-left: 0;
  }

  /* line 684, ../sass/Site.scss */
  ol.round li {
    padding-left: 10px;
    margin: 25px 0;
  }

  /* line 689, ../sass/Site.scss */
  ol.round li.zero,
  ol.round li.one,
  ol.round li.two,
  ol.round li.three,
  ol.round li.four,
  ol.round li.five,
  ol.round li.six,
  ol.round li.seven,
  ol.round li.eight,
  ol.round li.nine {
    background: none;
  }

  /* features */
  /* line 703, ../sass/Site.scss */
  section.feature {
    float: none;
    padding: 10px;
    width: auto;
  }

  /* line 709, ../sass/Site.scss */
  section.feature img {
    color: #999;
    content: attr(alt);
    font-size: 1.5em;
    font-weight: 600;
  }

  /* forms */
  /* line 717, ../sass/Site.scss */
  input {
    width: 90%;
  }

  /* login page */
  /* line 722, ../sass/Site.scss */
  #loginForm {
    border-right: none;
    float: none;
    width: auto;
  }

  /* line 728, ../sass/Site.scss */
  #loginForm .validation-error {
    display: block;
    margin-left: 15px;
  }

  /* line 733, ../sass/Site.scss */
  #socialLoginForm {
    margin-left: 0;
    float: none;
    width: auto;
  }

  /* footer
  ----------------------------------------------------------*/
  /* line 742, ../sass/Site.scss */
  footer .float-left,
  footer .float-right {
    float: none;
  }

  /* line 747, ../sass/Site.scss */
  footer {
    text-align: center;
    height: auto;
    padding: 10px 0;
  }

  /* line 753, ../sass/Site.scss */
  footer p {
    margin: 0;
  }
}
